@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.NumberDisplay{
    color: red;
    background: black;
    width: 80px;
    height: 48px;
    font-size: 30px;
    font-family: Orbitron;
    text-align: center;
}